/* print-fixes */
@media print {
  a.xml-icon,
  a.feed-icon {
  display: none;
  }
}

/* Fix problem in IE where site-name gets under the frontphoto */

#frontphoto, .site-name {
clear: both;
}

#header {
height: auto;
}

#header h1 {
width: auto;
}

#subtext {
padding: 0 0 5px 0;
}

/* Styling of comments */
.comment {
background: #f4f4f4;
margin-top: 10px;
}
.comment-title a {
font-size: 1.25em;
font-weight: bold;
}

.comment-author,
.postmetadata {
text-align: left;
font-size: 0.75em;
}

.comment-author a,
.postmetadata a {
text-decoration: none;
}

.comment-author a:hover,
.postmetadata a:hover {
text-decoration: underline;
}

.comment .new {
float: right;
text-align: right;
margin-right: 10px;
margin-bottom: 10px;
color: #ff6a4c;
font-weight: bold;
}

.comment .header {
float: right;
}

/* Fix-ups */
.node-form .standard,
.profile,
.form-item,
img .image preview,
#tracker,
#system_theme_settings {
width: auto;
clear: none;
}

.info {
padding-bottom: 5px;
}
